nav {
  display: block;
  position: absolute;
  z-index: 2;
  background: rgba(0,0,0,0.8);
  margin: 0px 0px;
  width: 100%;
  height: 48px;
  }

#main {
  position: relative;
  max-width: 900px;
  margin:  -20 auto;
  }

nav  li {
  background-repeat: no-repeat;
  background-size: 20px 44px;
  background-position: center center;

  display: inline-block;
  overflow: auto;
  width: 80px;
  height: 40px;

  color: white;
  padding-top: 20px;
  text-align: center;


  font-size: 16px;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}



#apple {
  background-image: url(http://www.apple.com/ac/globalnav/2.0/en_US/images/globalnav/apple/image_large.svg);
}

#find {
background-image: url(http://www.apple.com/ac/globalnav/2.0/en_US/images/globalnav/search/image_large.svg);
}

#bag {
background-image: url(http://www.apple.com/ac/globalnav/2.0/en_US/images/globalnav/bag/image_large.svg);

}

.gallery-item-content{
  position: absolute;
  margin: 0px 0px;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://images.apple.com/v/home/cz/images/gallery/iphone_alt_small.jpg);
  background-size: auto 100%;

}




#logo, #logo-second {
  color: white;
  text-align: center;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

}
#logo{
  margin-top: 60px;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0em;
  -webkit-font-smoothing: antialiased;
}

#logo-second{
  margin-top: -15px;
  font-size: 32px;
    line-height: 1;
    font-weight: 100;
    letter-spacing: 0em;
    font-style: normal;
    direction: ltr;
}

.container{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0px 0px;
  width: 100%;
  height: 77%;
  display: block;
  background-color: rgba(0,0,0,0.96);
}

.promos{
  position: absolute;
  top: 77%;
  left: 0;
  width: 100%;
  height: 23%;
  background-color: white;

}

#first, #second, #third, #fourthly{
  width: 25%;
  height: 100%;
  float: left;

  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#first {
  background-image: url(http://images.apple.com/v/home/cz/images/shared/promos/made_by_apple_xlarge.jpg)
}

#second {
  background-image: url(http://images.apple.com/v/home/cz/images/shared/promos/ipad_pro_large.jpg)
}

#third{
  background-image: url(http://images.apple.com/v/home/cz/images/shared/promos/airpods_large.jpg)
}

#fourthly{
  background-image: url(http://images.apple.com/v/home/cz/images/shared/promos/apple_tv_large.jpg)
}
